<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<title>Freesound - Descriptor Search Prototype v0.1</title>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel="icon" href="/favicon.ico">
		<link rel='stylesheet' type='text/css' href='media/css/style.css'>
		<link rel="stylesheet" type="text/css" href="media/css/nouislider.css">
		<link href="//fonts.googleapis.com/css?family=Inconsolata&v1" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/media/js/nouislider.js"></script>
	</head>
	<body>
		{% block header %} {% endblock %}
	</body>
</html>