
<div class="sample_player_small" id="{{ sound.id }}">
    <div class="sample_player ">
        <div class="small_player">
            <div class="player small">
    			<div class="metadata">
        			<a class="mp3_file" href="/data/previews/202/202848_1495969-lq.mp3" title="mp3 file">The Shape of Noise like Starlings.wav - mp3 version</a>
					<a class="ogg_file" href="/data/previews/202/202848_1495969-lq.ogg" title="ogg file">The Shape of Noise like Starlings.wav - ogg version</a>
					<a class="waveform" href="/data/displays/202/202848_1495969_wave_M.png" title="waveform file">The Shape of Noise like Starlings.wav - waveform</a>
					<a class="spectrum" href="/data/displays/202/202848_1495969_spec_M.jpg" title="spectrogram file">The Shape of Noise like Starlings.wav - spectrogram</a>
					<span class="duration" title="duration in seconds">4411.33</span>

				</div>
				<div class="controls">                     
					<a href="javascript:void(0)" title="play / pause" class="toggle play">play / pause</a>                     
					<a href="javascript:void(0)" title="loop" class="toggle loop">loop</a>                 
				</div>                 
				<div class="background" style="background-image: url(&quot;/data/displays/202/202848_1495969_wave_M.png&quot;); background-size: contain; background-repeat: no-repeat;"></div>                 
				<div class="loading-progress" style="display: none;"></div>                 
				<div class="position-indicator"></div>                 
				<div class="time-indicator-container">
					<div class="time-indicator">-00:04</div>
				</div>
			</div>

        </div>.small_player

        <div class="sound_title">
            <div class="sound_filename">
               <a class="title" href="/people/Daimon-zero/sounds/202848/" title="The Shape of Noise like Starlings.wav">The Shape of Noise like ...</a>
            </div><!-- .sound_filename -->

            <div class="sound_description">
                <p class="description">This one sounded to me like starlings (or you might say cicadas) when they gather in clouds I started off ...</p>
            </div><!-- .sound_description -->

            <div class="sound_tags">

                <ul class="tags">
                    
                        <li><a href="/browse/tags/synthetic/">synthetic</a></li>
                    
                        <li><a href="/browse/tags/Noise/">Noise</a></li>
                    
                        <li><a href="/browse/tags/high-pitched/">high-pitched</a></li>
                    
                        <li><a href="/browse/tags/chirp/">chirp</a></li>
                    
                        <li><a href="/browse/tags/generated/">generated</a></li>
                    
                        <li><a href="/browse/tags/noise/">noise</a></li>
                    
                        <li><a href="/browse/tags/white/">white</a></li>
                    
                </ul>
                <br style="clear: both;">

            </div><!-- .sound_tags -->

          </div><!-- .sound_title -->
    </div><!-- .sample_player -->

    <div class="sample_information ">
        <a class="user" href="/people/Daimon-zero/">Daimon-zero</a><br>
        <span class="date">October 12th, 2013</span><br>
            <!-- license icons -->
            
                <img class="cc_license" src="/media/images/licenses/by.png" width="16" height="16" alt="Creative Commons Attribution license" title="This sound is licensed under the Creative Commons Attribution license.">
            
            <!-- /license icons -->

        </div><!-- .sound_attributes -->
    </div><!-- .sample_information -->
</div>
